@import url(./fonts.css);

:root{
    font-size: 16px;
    --white30: white;
    --white20: #a5a3a5;
    --white10: #616161;
    --gray30: #3A3539;

    /* --charter : charter; */
}

body {
    color:var(--white30);
    /* font-family: var(--charter); */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Nunito', sans-serif;
    background-color: #251f24;
    margin: 0;
}

header{
    color: var(--white30);
    font-size: 14px;
    position: absolute;
    /* top */
    inset-block-start: 0px;
    inset-inline-start: -208px;
    inline-size: 188px;

}

header a{
    color: var(--white20);
    text-decoration: none;
}

header li{
    color: var(--white20);
    margin-block-end: 16px;
}
header a:hover{
    color: var(--white30);
}

nav details summary{
    font-weight: bold;
}

/* h1, h2, h3{
    font-weight: normal;
} */

h1{
   font-size: 3.75rem;
   margin-block-start: 64px;
   margin-block-end: 16px;
   
}

h2{
    font-size: 2rem;
    margin-block: 40px;
}

h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-block: 16px;
}

hr{
    margin-block: 40px;
    border-color: rgba(97, 97, 97, 0.2);
}

p{
    font-size: 1rem;
    color: var(--white20);
}

pre{
    background-color: var(--gray30);
    padding:  40px;
    overflow: auto;
    border-radius: 8px;
    border: 10px solid #5551ff;
    box-shadow: -10px 10px 0 0 #ABAAF6;
    margin-block: 40px;
    /* border-inline-start: 5px solid #26A0DA;
    border-block: 23px solid #26A0DA; */
}

blockquote{
    line-height: 32px;
    font-size: 24px;
    margin-block-start: 80px;
    margin-block-end: 64px;
    background-color: var(--gray30);
    border-radius: 8px;
    padding-inline: 24px;
    padding-block: 24px;
}

blockquote p{
    color: var(--white30);
}
.hero{
    width: 100%;
    height: 350px;
/*     background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../images/patron-1.svg'); */
    background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
}

/* counter para agregar contador 1.tema */

.section-content{
    counter-reset: titleList;
}

.section-content h3 {
    counter-increment: titleList;
}
.section-content h3::before{
    content: counter(titleList, decimal)". ";
}

/* .section-content h3::after{
    content: '';
    width: 32px;
    height: 4px;
    background-color: var(--white30);
    display: inline-block;
} */

.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}

section + hr {
    display: none;
}

.main{
    
}

.wrapper{
    max-inline-size: 902px;
    margin: auto;
}

.main-content{
    padding-inline: 16px;
}

.header{
    position: sticky;
    inset-block-start:  -45px;
}

.header-content{
    position: relative;
    inset-block-start:  65px;
}

/* slider con css */

.slider{
/*     border: 1px solid red; */
}

.slider-container{
    /* lock-size: 100px; */
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
    

    /* border: 1px solid purple; */
}

.video{
    margin: 0;
    /* border: 1px solid blue; */
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.slider-bullet-list{
 /*    border: 1px solid yellow; */
    text-align: center;
    margin-block-start: 16px;
    
}
.slider-bullet{
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background-color: white;
    border-radius: 50%;
}


/* Formulario */

.form input{
    inline-size: 100%;
    border: 1px solid var(--white30);
    box-sizing: border-box;
    background:  #251f24;
    border-radius: 8px;
    padding-inline: 12px;
    padding-block: 12px;
    color: var(--white30);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;

}

.form input::-webkit-input-placeholder{
    color: var(--white20);
}

.form input[type="submit"]{
    background-color: #157EFB;
    border: none;
}

.form input[type="submit"]:hover{
    cursor: pointer;
    font-size: 18px;
}